<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Survey</title>
        {% load staticfiles %}
         <!-- The line above tells Django to be ready to listen for static files -->
     <link rel="stylesheet" href="{% static 'randwordgen/css/stylesheet.css' %}"media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
        <div class="container">
            <form class="formarea" action="/process" method="post">
                {% csrf_token %}
                <h2>Your Name:</h2><input type="text" name="name" value="">
                <h2>Dojo Location:</h2>
                    <select name="location">
                        <option value="Seattle">Seattle</option>
                        <option value="Silicon Valley">Silicon Valley</option>
                        <option value="Los Angeles">Los Angeles</option>
                    </select>
                <h2>Favorite Language:</h2>
                    <select name="language">
                        <option value="Python">Python</option>
                        <option value="Javascript">Javascript</option>
                        <option value="C++">C++</option>
                    </select>
                    <h2>Comment(optional):</h2>
                <div>
                    <textarea name="comment" rows="8" cols="80"></textarea>
                    <input class="button" type="submit" name="submit" value="Submit">
                </div>
            </form>
        </div>
    </body>
</html>
