<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cars and Cats</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <h1>Here are all the Cute Cats</h1>
        <img src="http://127.0.0.1:7077/images/Cat1.jpg" alt="Cat 1 Pic">
        <img src="http://127.0.0.1:7077/images/Cat2.jpg" alt="Cat 2 Pic">
        <img src="http://127.0.0.1:7077/images/Cat3.jpg" alt="Cat 3 Pic">
        <img src="http://127.0.0.1:7077/images/Cat4.jpg" alt="Cat 4 Pic">
    </body>
</html>
