<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Results Page for Survery Form</title>
    </head>
    <body>
        <h1>This is the Submitted information for Survey Form</h1>
        <div class="">
            <hr>
            <h2> <%= user_data.name %> </h2>
            <h4>location: <%= user_data.location %> </h4>
            <h4>language: <%= user_data.language %> </h4>
            <h4>comment: <%= user_data.comment %> </h4>
            <hr>
        </div>
    </body>
</html>
