<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Survey Form</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type ="text/javascript">
            $(document).ready(function(){
                // this triggers the connection event in our server!
                var socket = io.connect();
                // we'll write all the socket stuff after the above line!
                $("#survey_form").submit(function(){
                    socket.emit("posting_form", {
                        name: $("#name").val(),
                        location: $("#location").val(),
                        language: $("#language").val(),
                        comment: $("#comment").val(),
                    })
                    return false;
                })
                socket.on("update_message", function(data){
                    $("#message").html("You emmited the following information to the server:" + JSON.stringify(data.response));
                    //data.response to go into the object of data passed back
                })
                socket.on("random_number", function(data){
                    $("#number").html("Your lucky number emmited by the server is: " + JSON.stringify(data.response));
                })
            })
        </script>
    </head>
    <body>
        <h1>Welcome to Survey Form!</h1>
        <div id="message"></div>
        <br>
        <div id="number"></div>
        <br><br>
        <form class="form" action="" id="survey_form">
            <div class="name">
                <label for="name">Your Name:</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="location">
                <label for="location">Dojo Location:</label>
                <select class="" name="location" id="location">
                    <option value="Mountain view">Mountain View</option>
                    <option value="Seatle Wa">Seattle, WA</option>
                    <option value="Los Angles">Lost Angeles</option>
                    <option value="San Jose">San Jose</option>
                </select>
            </div>
            <div class="language">
                <label for="language">Favourite Lanaguage:</label>
                <select class="" name="language" id="language">
                    <option value="JavaScript">JavaScript</option>
                    <option value="Python">Python</option>
                    <option value="Swift">Swift</option>
                    <option value="MEAN">MEAN</option>
                    <option value="PHP">PHP</option>
                </select>
            </div>
            <div class="comment">
                <label for="comment">Comment (optional):</label>
                <textarea name="comment" id="comment" rows="8" cols="80"></textarea>
            </div>
            <input type="submit" name="" value="Submit">
        </form>
    </body>
</html>
