<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quoting Dojo</title>
    </head>
    <body>
        <h1>Welcome to Quoting Dojo</h1>
            <% if(typeof(errors) != 'undefined' ) { %>
                <% for (var x in errors) { %>
                 <h5 style="color:red"><%= errors[x].message %></h5>
                <% } %>
            <% } %>
        <form class="" action="/quotes" method="post">
            <h3>Your Name: <input type="text" name="name" value="input name"></h3>
            <h3>Your Quote: <textarea name="quote" rows="8" cols="80"></textarea></h3>
            <p><input type="submit" name="add" value="Add my Quotes"></p>
        </form>
            <a href="/quotes">Skip to Quotes</a>
    </body>
</html>
